body {
    font-size:16px;
    text-align: center;
}

.note {
    font-size: 13px;
    margin-top: -10px;
    color: lightslategray;
}

input[type='submit'] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 2px 3px;
    border-radius: 18px;
}

input[type='submit']:hover {
    opacity: 0.8;
}

input[type='reset'] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 2px 3px;
    border-radius: 18px;
}

input[type='reset']:hover {
    opacity: 0.8;
}

.header-h1 {
    position: relative;
    text-align: center;
    margin-bottom: .5rem;
}
.header-h1 h1 {
    position: relative;
    display: inline-block;
    background: #fff;
    margin-bottom: 0;
    padding: 0.5rem 1rem;
    border-bottom: .125rem solid #a5d6a7;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #4caf50;
}
.header-h1 h1::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -1.25rem;
    transform: translateX(-1.25rem);
    border-top: 1.25rem solid #a5d6a7;
    border-left: 1.25rem solid transparent;
    border-right: 1.25rem solid transparent;
}
.header-h1 h1::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -1.125rem;
    transform: translateX(-1.25rem);
    border-top: 1.25rem solid #fff;
    border-left: 1.25rem solid transparent;
    border-right: 1.25rem solid transparent;
}
