<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add person</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="../static/assets/css/style.css" th:href="@{/assets/css/style.css}"></head>
<body>
<p><h2>Added person: </h2></p>
<hr>
<p th:text="'Surname: ' + ${person.surname}"></p>
<p th:text="'Name: ' + ${person.name}"></p>
<p th:text="'Patronymic: ' + ${person.patronymic}"></p>
<p th:text="'age: ' + ${person.age}"></p>
<p th:text="'salary: ' + ${person.salary}"></p>
<p th:text="'email: ' + ${person.email}"></p>
<p th:text="'job: ' + ${person.job}"></p>
<form action="#" th:action="@{/sendmail}" method="get">
    <p><input type="submit" value="Send Email" /></p>
</form>
<a href="/addPerson">Add another person</a>

</body>
</html>